@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.app_main {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 8%;
  gap: 5%;
}

.task_column {
  width: 33.33%;
  margin-top: 20px;
}
